# System files
*.app
*.DS_Store

# Editor files
.*.sw?
*~

# Compiled Object files, Static and Dynamic libs (Shared Objects)
vendor

# Test files
godog.test
debug.test
coverage.html

# Run files
mem.pprof

# Auto generated frontend
frontend/qml/BridgeUI/*.qmlc
frontend/qml/ProtonUI/*.qmlc
frontend/qml/ProtonUI/fontawesome.ttf
frontend/qml/ProtonUI/images
frontend/qml/*.qmlc

# Build files
bridge_darwin_*.tgz
cmd/Desktop-Bridge/deploy
internal/frontend/qt/moc.cpp
internal/frontend/qt/moc.go
internal/frontend/qt/moc.h
internal/frontend/qt/moc_cgo_darwin_darwin_amd64.go
internal/frontend/qt/moc_moc.h
internal/frontend/qt/rcc.cpp
internal/frontend/qt/rcc_cgo_darwin_darwin_amd64.go
internal/frontend/rcc.cpp
internal/frontend/rcc.qrc
internal/frontend/rcc_cgo_darwin_darwin_amd64.go
vendor-cache/
