#define STRINGIZE_(x) #x
#define STRINGIZE(x) STRINGIZE_(x)

IDI_ICON1 ICON DISCARDABLE STRINGIZE(ICO_FILE)

#define FILE_COMMENTS "The Bridge is an application that runs on your computer in the background and seamlessly encrypts and decrypts your mail as it enters and leaves your computer."
#define FILE_DESCRIPTION "Proton Mail Bridge"
#define INTERNAL_NAME STRINGIZE(EXE_NAME)
#define PRODUCT_NAME "Proton Mail Bridge for Windows"

#define LEGAL_COPYRIGHT "(C) " STRINGIZE(YEAR) " Proton AG"

1 VERSIONINFO
FILEVERSION     FILE_VERSION_COMMA,0
PRODUCTVERSION  FILE_VERSION_COMMA,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", FILE_COMMENTS
            VALUE "CompanyName", "Proton AG"
            VALUE "FileDescription", FILE_DESCRIPTION
            VALUE "FileVersion", STRINGIZE(FILE_VERSION)
            VALUE "InternalName", INTERNAL_NAME
            VALUE "LegalCopyright", LEGAL_COPYRIGHT
            VALUE "OriginalFilename", STRINGIZE(ORIGINAL_FILE_NAME)
            VALUE "ProductName", PRODUCT_NAME
            VALUE "ProductVersion", STRINGIZE(PRODUCT_VERSION)
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04B0
    END
END
